<div class="friendcard" style="cursor: pointer;" onclick="window.location='/friends/{{this.id}}';">
<img src="https://res.cloudinary.com/playdateapp/{{this.profile_pic}}">
<p>{{this.firstname}}</p>
</div>