<ul class="navigation">
  <div>
  <li class="navigation-item">
    <a class="navigation-link" href="/">Home</a>
  </li>
   <li class="navigation-item">
    <a class="navigation-link" href="/how-it-works">How it works</a>
  </li>
   {{#if user}}
  <li class="navigation-item">
    <a class="navigation-link" href="/friends">Friends</a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link" href="/friends/addfriend">Add a friend</a>
  </li>
{{/if}}
</div>
<div>
    {{#if user}}
    <li class="navigation-item hello">
        <a class="navigation-link">Hello {{user.username}}</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href="/logout">Log out</a>
      </li>
       <li class="navigation-item">
        <a class="navigation-link" href="/user/profile">Profile</a> 
      </li>
     {{else}}
     <li class="navigation-item">
          <a class="navigation-link" href="/signup">Sign up</a>
      </li>
      <li class="navigation-item">
          <a class="navigation-link" href="/login">Log in</a>
      </li>
    {{/if}}
</div>
</ul>