<form action="/friends/addcaretaker" method="POST">
<div class="form-fields-add">
    <h1 class="form-title-add">Add a caretaker</h1>
    <input type="text" name="firstname" placeholder="First name">
    <input type="text" name="lastname" placeholder="Last name">
    <legend class="legend-add">Available days:</legend>   
    <div class="available-days"> 
        <div>
            <input class="available-days-input" type="checkbox" name="availabledays" value="monday">Monday    
        </div>  
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="tuesday">Tuesday     
        </div> 
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="wednesday">Wednesday 
        </div>
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="thursday">Thursday
        </div>
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="friday">Friday
        </div>
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="saturday">Saturday
        </div>
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="sunday">Sunday
        </div>
    </div>
    <input type="text" name="relation" placeholder="Relation">
    {{!-- <input type="text" name="phone" placeholder="Phone Number"> --}}
    <input type="tel" name="phone" pattern="/^((\+|00(\s|\s?\-\s?)?)31(\s|\s?\-\s?)?(\(0\)[\-\s]?)?|0)[1-9]((\s|\s?\-\s?)?[0-9])((\s|\s?-\s?)?[0-9])((\s|\s?-\s?)?[0-9])\s?[0-9]\s?[0-9]\s?[0-9]\s?[0-9]\s?[0-9]$/" placeholder="Phone number">
    <input type="email" name="email" placeholder="E-mail">
    <button class= "b-blue rot-135" type="submit">Add Ccaretaker</button>

{{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  </div>
</form>

<img class="add-img-caretaker" src="/images/cat.png" alt="">


