<form action="/friends/addfriend" method="POST">
<div class="form-fields-add">
    <h1 class="form-title-add">Add a friend</h1>
    <input type="text" name="firstname" placeholder="First name">
    <input type="text" name="lastname" placeholder="Last name">
    <input type="text" name="address" placeholder="Address">
    <input type="date" name="birthday" placeholder="Date of birth">
    <legend class="legend-add">Available days:</legend>   
    <div class="available-days"> 
        <div>
            <input class="available-days-input" type="checkbox" name="availabledays" value="monday">Monday    
        </div>  
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="tuesday">Tuesday     
        </div> 
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="wednesday">Wednesday 
        </div>
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="thursday">Thursday
        </div>
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="friday">Friday
        </div>
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="saturday">Saturday
        </div>
        <div>
        <input class="available-days-input" type="checkbox" name="availabledays" value="sunday">Sunday
        </div>
    </div>
    <input type="text" name="foodlikes" placeholder="Most favourite food">
    <input type="text" name="fooddislikes" placeholder="Least favourite food">
    <input type="text" name="allergies" placeholder="Allergies / Illnesses">
    <input type="text" name="activitylikes" placeholder="Likes to play:">
    <input type="text" name="activitydislikes" placeholder="Does not like to play:">
    <button class= "b-blue rot-135" type="submit">Add Friend</button>

{{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  </div>
</form>
<img class="add-img-friend" src="/images/bear2.png" alt="">

