
<div class="add-photo-form">
    <form class="form" action="/friends/friendphoto/" method="post" enctype="multipart/form-data">
    <input type="file"value="Choose File" name="profile_pic">
    <input class="button b-blue .rot-135" type="submit">
    </form>
</div>
<div class="add-photo-form-image">
    <img src="/images/kids-ballons.png" alt="">
</div>

