<div class="index-page">
<h1 class="centered">Choose a day for a Play Date</h1>
<div class="day-blocks">
    <p class="day" style="cursor: pointer;" onclick="window.location='/day/monday';">Monday</p>
    <p class="day" style="cursor: pointer;" onclick="window.location='/day/tuesday';">Tuesday</p>
    <p class="day" style="cursor: pointer;" onclick="window.location='/day/wednesday';">Wednesday</p>
    <p class="day" style="cursor: pointer;" onclick="window.location='/day/thursday';">Thursday</p>
    <p class="day" style="cursor: pointer;" onclick="window.location='/day/friday';">Friday</p>
    <p class="day weekend" style="cursor: pointer;" onclick="window.location='/day/saturday';">Saturday</p>
    <p class="day weekend" style="cursor: pointer;" onclick="window.location='/day/sunday';">Sunday</p>
</div>
</div>