<div class="index-page">
<h2 class="centered">Choose a day for a Play Date</h2>
<div class="day-blocks">
    <p class="day">Monday</p>
    <p class="day">Tuesday</p>
    <p class="day">Wednesday</p>
    <p class="day">Thursday</p>
    <p class="day">Friday</p>
    <p class="day weekend">Saturday</p>
    <p class="day weekend">Sunday</p>
</div>
</div>