<div class="profile">
    <h1 class="form-title">WARNING</h1>
    <p class="wrap-text centered">Deleting your account will permanently delete all associated data (kids, caretakers, photos, etc) you entered on this site. </p>
    <div class="profile-buttons">
    <a href="/user/profile/" class="button b-blue rot-135 ">Keep My Account</a>
    <a href="/user/deleteuser/confirm" class="button b-red change-for-blue">Proceed and Delete</a>
    </div>
</div>