<div class="howitworks">  
<h1>How the PlayDateApp works?</h1>
<p>
    Do you know this feeling when your child wants to meet with his/her friends and you must check their availability by write to their parents everytime?
</p>
<h2>
    PlayDateApp is solution! 
</h2>
<p>
    You can organize data about your kids' friends right here! right now! It is a piece of a cake!
</p>
<p>
    Put an availability of friends in the application to check when they can play together.
</p>
<p>You can provide more options, like:</p>
<ul>
    <li>details about a friend</li>
    <li>photo of your friend</li>
    <li>caretaker with contact details</li>
    <li>...and many more</li>
</ul>
<img class = "img-description" src="/images/bear.png" alt="">
</div>  






















































