<form action="/login" method="POST">
<div class="form-fields">
    <h1 class="form-title">Log in</h1>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="********">
    <button class= "b-blue rot-135" type="submit">Log in</button>

{{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
 <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
  </div>
</form>

<div class="login-img">
<img src="/images/kids.png" alt="">
</div>
