<div class="profile">
    <h2>Hello {{user.username}}</h2>
    <p>You are log in</p>
    <img class="avatar" src="/{{user.profile_pic}}" alt="">
    <form action="/user/upload-profile-pic" method="POST" enctype="multipart/form-data">
    <p>You can add/change your profile photo</p>
        <input class="file-input"type="file" name="profile-picture">
        <button class="b-blue rot-135" type="submit">Upload profile picture</button>
        <button class="b-blue rot-135" type="reset">Delete account</button>
    </form>
            
</div>