<div class="profile">
    <h1 class="form-title">Hello {{user.username}}</h1>
    <p>You are logged in</p>
    <div class="profile-buttons">
    <a href="/user/edituser/" class="button b-blue rot-135 ">Change Password</a>
    <a href="/user/deleteuser/" class="button b-red change-for-blue">Delete Account</a>
    </div>
</div>