<div class="profile">
    <h2>Hello {{user.username}}</h2>
    <p>You are logged in</p>
    <a href="/user/edituser/" class="button b-blue rot-135 ">Change Password</a>
    <a href="/user/deleteuser/" class="button b-red change-for-blue dlt">Delete Account</a>
</div>