<form action="/signup" method="POST">
<div class="form-fields">
    <h1 class="form-title">Sign up</h1>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="********">
    {{!-- <input type="text" name="name" placeholder="name">
    <input type="text" name="surname" placeholder="surname">
    Select a file: 
    <input type="file" name="profile_pic">
    Guardian: 
    <select>
        <option value="mother">mother</option>
        <option value="father">father</option>
        <option value="sister">sister</option>
        <option value="brother">brother</option>
        <option value="sister">baby sitter</option>
        <option value="brother">other</option>
    </select>
    Phone:
    <input type="tel" name="phone" pattern="/^((\+|00(\s|\s?\-\s?)?)31(\s|\s?\-\s?)?(\(0\)[\-\s]?)?|0)[1-9]((\s|\s?\-\s?)?[0-9])((\s|\s?-\s?)?[0-9])((\s|\s?-\s?)?[0-9])\s?[0-9]\s?[0-9]\s?[0-9]\s?[0-9]\s?[0-9]$/">
    <input type="email" name="email"> --}}
    <button class= "b-blue rot-135" type="submit">Create account</button>

{{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  </div>
</form>

<div class="signup-img">
<img src="/images/bee.png" alt="">
</div>
