/*Friend card*/

.allfriendcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.friendcard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #293a80;
    background-color: rgba(125, 181, 245, 0.199);
    padding: 30px;
    margin: 9px 3px;
    border-radius: 5px;
}

.friendcard img {
    width: 100%;
    border-radius: 5px;
    width: 230px;
    height: 250px;
}


/*END - Friend card*/


/*Friends list page*/

.friendslist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friendslist h1 {
    margin-bottom: 40px;
}


/*END - Friends list page*/


/*Friend detail Page*/

.details-image {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.details {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 10px 0 30px 0;
    flex-wrap: wrap;
}

.friend-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.caretaker-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #ff5e00;
}

.nocaretaker {
    color: red;
}

.friend-page {
    display: flex;
    flex-direction: column;
}

.friendcard-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.friendcard-details img {
    width: 100%;
    border-radius: 5px;
    width: 230px;
    height: 250px;
    border: 2px solid #293a80;
    background-color: rgba(125, 181, 245, 0.199);
    padding: 30px;
    margin: 9px 3px;
    border-radius: 5px;
}

.link-button {
    display: flex;
}

.dlt {
    margin-left: 20px;
}


/*END - Friend detail Page*/

@media (max-width:766px) {
    .friendslist h1 {
        margin-bottom: 15px;
    }
    .allfriendcards {
        margin-top: 20px;
    }
    .details {
        justify-content: flex-start;
        margin: 10px 0 30px 10%;
    }
    .caretaker-details {
        margin-top: 20px;
    }
    .wide-button {
        display: flex;
    }
}

@media(min-width:767px) and (max-width:960px) {}

@media(min-width:961px) and (max-width:1024px) {}

@media(min-width:1025px) {}