.howitworks {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2% 0 0 5%;
    width: 70%;
}

.img-description {
    width: 30%;
    position: absolute;
    top: 8%;
    right: 5%;
    z-index: -1;
}