.index-page {
    background: url("../images/background.png") no-repeat left top;
    background-size: cover;
    height: 100%;
}

.day-blocks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 80px 5px 0 0;
    padding-bottom: 25%;
}

.day {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    width: 170px;
    padding: 70px 0;
    margin: 40px 10px 20px 10px;
    border: 2px solid #293a80;
    background-color: rgba(125, 181, 245, 0.199);
    border-radius: 5px;
    justify-content: center;
}

.day:hover {
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid #293a80;
    background-color: #293a80;
    color: white;
}

.weekend {
    border: 2px solid rgb(247, 118, 140);
    background-color: rgba(255, 145, 163, 0.199);
}

.weekend:hover {
    border: 2px solid rgb(247, 118, 140);
    background-color: rgb(247, 118, 140);
}

@media (max-width:766px) {
    h2 {
        margin-top: 20px;
        font-size: 20px;
    }
    .day-blocks {
        margin-top: 0;
        padding-bottom: 30px;
    }
    .day {
        width: 130px;
        padding: 50px 0;
        background-color: rgba(125, 181, 245, 0.733);
    }
    .weekend {
        border: 2px solid rgb(247, 118, 140);
        background-color: rgba(255, 145, 163, 0.801);
    }
}

@media(min-width:767px) and (max-width:960px) {}

@media(min-width:961px) and (max-width:1024px) {}

@media(min-width:1025px) {}