body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #293a80;
    line-height: 1.8em;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

h5 {
    font-size: 32px;
    margin-top: 50px;
}

p {
    margin: 5px 0 0 0;
    padding: 0;
}

ul {
    padding: 0 0 0 20px;
    margin: 5px;
}

.centered {
    display: block;
    text-align: center;
}

@media (max-width:766px) {
    h1 {
        line-height: 1.2em;
        font-size: 26px;
        margin-top: 10px;
        text-align: center;
    }
    h5 {
        line-height: 1.2em;
        font-size: 26px;
        margin-top: 10px;
    }
}

@media(min-width:767px) and (max-width:960px) {}

@media(min-width:961px) and (max-width:1024px) {}

@media(min-width:1025px) {}