.navigation {
    color: #f7f9f9;
    background-color: #293a80;
    margin: 0;
    padding: 20px 20px 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: flex-start;
    list-style-type: none;
    box-shadow: 0 4px 4px -2px gray;
}

.navigation div {
    display: flex;
    flex-direction: row;
}

.navigation-link {
    text-decoration: none;
    color: #f7f9f9;
    margin: 10px 40px 10px 0;
}

@media (max-width:766px) {
    .navigation {
        margin: 0;
        padding: 0 0 0 7px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: flex-start;
    }
    .navigation-link {
        font-size: 0.56em;
        margin: 0 11px 0 0;
    }
    .hello {
        display: none;
        background: red;
    }
}

@media (max-width:766px) {}

@media(min-width:767px) and (max-width:960px) {}

@media(min-width:961px) and (max-width:1024px) {}

@media(min-width:1025px) {}