.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrap-text {
    width: 40%;
}

.profile-buttons {
    width: 20%;
}

@media (max-width:766px) {
    .wrap-text {
        width: 90%;
    }
    .profile-buttons {
        width: 90%;
    }
}

@media(min-width:767px) and (max-width:960px) {}

@media(min-width:961px) and (max-width:1024px) {}

@media(min-width:1025px) {}