body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #293a80;
    line-height: 1.8em;
}

.centered {
    display: block;
    text-align: center;
}


/*Navigation*/

.navigation {
    color: #f7f9f9;
    background-color: #293a80;
    margin: 0;
    padding: 20px 20px 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: flex-start;
    list-style-type: none;
    box-shadow: 0 4px 4px -2px gray;
}

.navigation div {
    display: flex;
    flex-direction: row;
}

.navigation-link {
    text-decoration: none;
    color: #f7f9f9;
    margin: 10px 40px 10px 0;
}


/*END - Navigation*/


/*Home Page*/

.index-page {
    /* height: 100vw; */
    background: url("../images/background.png") no-repeat left 100px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.day-blocks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 80px 5px 0 0;
    padding-bottom: 25%;
}

.days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.day {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    width: 170px;
    padding: 70px 0;
    margin: 40px 10px 20px 10px;
    border: 2px solid #293a80;
    background-color: rgba(125, 181, 245, 0.199);
    border-radius: 2px;
    justify-content: center;
}

.weekend {
    border: 2px solid rgb(247, 118, 140);
    background-color: rgba(255, 145, 163, 0.199);
}


/*END - Home Page*/


/*Add a Friend and a Caretaker*/

.form-fields-add {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-bottom: 60px;
}

.form-title-add {
    display: flex;
    justify-content: center;
    padding: 10px 0 30px;
    color: #293a80;
}

.legend-add {
    margin: 20px 0;
}

.available-days {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.available-days-input {
    margin-right: 10px;
    margin-bottom: 20px;
}

.add-img-friend {
    display: flex;
    justify-content: flex-end;
}

.add-img-friend {
    width: 35%;
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: -1;
}

.add-img-caretaker {
    width: 25%;
    position: absolute;
    top: 55%;
    left: 5%;
    z-index: -1;
}


/*END - Add a Friend and a Caretaker*/


/*Sign Up and Log in*/

.form-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    display: flex;
    justify-content: center;
    padding: 50px 0 30px;
    color: #293a80;
}

.form-fields {
    display: flex;
    flex-direction: column;
    width: 20%;
}

input {
    padding: 6px;
    margin: 2% 0;
    font-size: 0.9em;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
}

button {
    display: inline-block;
    font-size: 1em;
    margin-top: 30px;
    padding: 10px 0;
    border-radius: 5px;
    transition: all .5s;
    filter: hue-rotate(0deg);
    color: #FFF;
    text-decoration: none;
    width: 100%;
}

.b-blue,
.b-blue:before {
    background: rgba(5, 118, 255, 1);
    background: -moz-linear-gradient(45deg, rgba(5, 118, 255, 1) 0%, rgba(36, 248, 255, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(5, 118, 255, 1)), color-stop(100%, rgba(36, 248, 255, 1)));
    background: -webkit-linear-gradient(45deg, rgba(5, 118, 255, 1) 0%, rgba(36, 248, 255, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(5, 118, 255, 1) 0%, rgba(36, 248, 255, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(5, 118, 255, 1) 0%, rgba(36, 248, 255, 1) 100%);
    background: linear-gradient(45deg, rgba(5, 118, 255, 1) 0%, rgba(36, 248, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1);
}

.rot-135:hover {
    filter: hue-rotate(135deg);
}

.signup-img {
    display: flex;
    justify-content: flex-end;
}

.signup-img img {
    width: 35%;
    margin-right: 10%;
}

.login-page {
    background: none;
}

.login-img {
    display: flex;
    justify-content: center;
}

.login-img img {
    width: 40%;
    margin-top: 2%;
}


/*END - Sign Up and Log in*/


/*Error page*/

.error-img {
    display: flex;
    justify-content: center;
}

.error-img img {
    width: 60vw;
    margin-top: 10%;
}

.red {
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.error-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(212, 0, 0);
}

.error-description {
    text-decoration: underline;
}

.error-message {
    background: #F02B63;
    box-sizing: border-box;
    border-radius: 4px;
    color: #fff;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    font-size: 0.7em;
    text-align: center;
    line-height: 1.5em;
}

.account-message {
    font-size: 0.8em;
    color: #757575;
}

.account-message a {
    color: #757575;
}


/*END - Error page*/


/*Profile*/

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar {
    width: 20%;
    margin: 1% 0 2%;
}

.file-input {
    font-size: 0.7em;
    width: 100%;
}

.delete {
    margin-top: 20px;
    text-decoration: none;
    color: #293a80;
}


/*END - Profile*/


/*How it Works?*/

.howitworks {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2% 0 0 5%;
    width: 70%;
}

.img-description {
    width: 30%;
    position: absolute;
    top: 8%;
    right: 5%;
    z-index: -1;
}
/*END - How it Works?*/
/* Friend Card */

#friendcard {
    width: 200px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #293a80;
    background-color: rgba(125, 181, 245, 0.199);
    padding: 10px;
    border-radius: 2px;
}

#friendcard img {
    width: 100%;
}

/* END - Friend Card */
